/*============================
Adjusting the Grid for Tablet
=============================*/
@media screen and (min-width:769px) {
    .h3part2 {
        margin-bottom:-1em;
    }
    body {
        overflow-x:hidden;
    }
    .image:hover {
        opacity:0;
        }
    .portfolio {
        width:768px;
        width:100%;
        height:350em;
        display:flex;
        flex-flow:row wrap;
        padding:80px;
        margin-left:3em;
    }
    /*====================================
    Adjusting Black Background with Button
    ======================================*/
    .blackbg {
        max-width:28.7em;
        max-height:31.5em;
        top:-36em;
        left:-3em;
        position:relative;
        margin-block:1.3em;
        .button {
            max-width:9em;
            max-height:2.2em;
            margin-left:-2em;
            margin-top:-2em;
        }
    }
    /*=================
    Adjusting the Images
    ===================*/       
    ul li img {
        margin:-3em; 
        margin-block:1em;   
    }
    /*================================
    Repositioning Images and Background
    ==================================*/
    li:nth-child(11),
    li:nth-child(12),
    li:nth-child(13),
    li:nth-child(14),
    li:nth-child(15),
    li:nth-child(16) {
    top:-187em;
    }
     li:nth-child(8),
     li:nth-child(9),
     li:nth-child(18) {
        opacity:0;
    }
     li:nth-child(17) {
        opacity:1;
        top:-186em;
    }
}


/*=============================
Adjusting the Grid for Desktop
==============================*/
@media screen and (min-width:1024px) {
    .h3part2 {
        margin-bottom:-8em;
    }
    .portfolio {
    width:769px;
    width:100%;
    height:auto;
    padding:250px;    
    }
    /*=====================================
    Adjusting Black Background with Button
    ======================================*/
    .blackbg {
        max-width:26.4em;
        max-height:29.5em;
        .button {
            max-width:9em;
            max-height:2.2em;
            margin-left:-2.5em;
            margin-top:-3em;
        }
    }
    /*==================
    Adjusting the Images
    ===================*/
    ul li img {
        margin:-4em; 
        margin-block:2em;
    }
    /*==============================
    Adjusting Images and Background
    ================================*/
    /*nth-child isn't working, so for size 1024 I added this
    code below before adjusting top position*/
    .portfolio .blackbg {
        position:relative;
        top:-107em;
        left:-4em;
    }
    /*the above only works for the first row, so for the others
    I used id to adjust them one by one
      on some of the blackbg*/
    .portfolio #fourteen, #fifteen {
        position:relative;
        top: -105em;
        left:-37em;
    }
    .portfolio #sixteen {
        position:relative;
        top: -139em;
        left: 62em;
    }
    .portfolio #seventeen {
        position:relative;
        top: -103em;
        left: -37em;
    }

    .portfolio #thirteen {
        position:relative;
        opacity:0;
    }
}

 

